
// color palette - these colors will be the color swatches of the Colors section

//$color-1: #5f8ee4; // Cornflower Blue - Action color
//$color-2: #19191a; // Dark Blue
//$color-3: #e4655f; // Red
//$color-4: #e6e6e6; // light grey
//$color-5: #ffffff; // white
//$color-6: #737373; // dark grey

$color-1: black; // black
$color-2: #40916c; // green
$color-3: #ff9f1c; // orange
$color-4: #00b4d8; // blue
$color-5: #f8f7ff; // white
$color-6: #ffe66d; // yellow

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

//Background: Black
//Green - 40916c
//Orange - ff9f1c
//Blue - 00b4d8
//Dark blue - 264653
//Paragraph: White - f8f7ff
//Yellow - ffe66d